body {

text-align: center;
background: url(../Images/retro-beach.jpg) no-repeat center center fixed;
font-family: "Stick";
color: whitesmoke;


}

ul li {

 list-style:square;
 font-size: 20px; 
 font-weight: bold;
}

section ul{
    background-color: rgba(223, 33, 204, 0.3);
    height: 150px;
}

section img {
    width: 600px;
    height: 400px;
}

header {

    height: 40px;
    background: coral;
    text-align: left;

}

header li {

    list-style-image: none;
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    background: rgba (255,235,205,0.3);
    color: yellowgreen;
    font-family: "Stick";
    font-weight: bold;
}

footer {

    background: coral;
    height: 25px;    

}

h1,h2 {

    font-family: "Stick";
    font-size: 70px;
    color: rgb(248, 104, 181);

}
#cookies {

padding: 100px;

}

th,td{

    border: black solid 1px;
    color: whitesmoke;
    background-color: rgba(223, 33, 204, 0.4);
    padding: 5px;
}

table{

    margin: 20px 20px 300px 20px;
}

fieldset {

    border: blueviolet solid 2px;
    padding: 10px;
    margin: 20px;
    display : flex; align-items: center
}

fieldset legend {

    font-weight: bold;
    color: whitesmoke;
}

fieldset button {

    height: 38px;
    
}

fieldset input {

    margin-right: 20px;
    height: 38px;

}

fieldset label {

    margin-right: 5px;
    padding-bottom: 4px;
    border: dotted black 2px;
}
